form {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid gray;
    font-family: cursive;
  }
  h1 {
    margin: 0px auto 40px auto;
    font-family: cursive;
  }
  p {
    margin: 0px;
  }
  select {
    width: 100%;
  }
  input,
  select {
    margin: 3px 0px 20px 0px;
    font-size: 18px;
  }
  input[type="submit"] {
    margin-top: 30px;
    font-family: cursive;
    border-radius: 10px;
  }
  textarea {
    resize: none;
  }
  